//setup

$bgColor: #211B25;
$ftColor: #211B25;
$fbColor: #251A1E;
$font-stack: "Source Sans Pro", sans-serif;
//set text color based on background

@function setTextColor($color){
    @if(lightness($color) > 70){
        @return #333;
    } @else{
        @return #fff;
    }
}

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
//set background & text color

@mixin setBackground($color) {
    background-color: $color;
    color: setTextColor($color);
}