* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

footer {
  clear: both;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #211B25;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 2rem 2rem;
}

footer li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  font-size: 0.8rem;
  margin-top: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer li span {
  margin-left: 1rem;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  cursor: pointer;
}

footer a {
  text-decoration: none;
  background-color: #211B25;
  color: #fff;
}

footer h2 {
  text-align: center;
  margin-bottom: 0.8rem;
}

footer hr {
  border-color: #6d7c7c;
  border-style: none;
  border-top-style: dotted;
  border-width: 4px;
  width: 3rem;
  margin: 1rem auto 1.5rem;
}

.fcol-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 30vw;
  margin-top: 2rem;
}

.fcol-1 img {
  width: 50%;
}

.fcol-1 div {
  width: 12rem !important;
  text-align: center;
  margin-right: 1.5rem;
}

.fcol-2 {
  width: 25vw;
  padding: 0 2rem;
}

.fcol-2 a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 20px;
  font-size: 20px;
  overflow: hidden;
  position: relative;
  color: #fff;
  border: 2px solid #fff;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

.fcol-2 a .icons {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fcol-2 li {
  margin-left: 5vw !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.fcol-2 a:after {
  content: "";
  display: block;
  height: 90%;
  top: -110%;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
}

.fcol-2 a:hover:after {
  top: 5%;
  -webkit-transition: all 0.3s linear 0.1s;
  transition: all 0.3s linear 0.1s;
}

.fcol-2 a:hover .icons {
  position: relative;
  color: #211B25;
  z-index: 3;
}

.fcol-2 a:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.fcol-3 {
  width: 25vw;
  padding: 0 2.5rem;
}

.fcol-3 input[type=email] {
  background-color: #000;
  color: #fff;
  height: 2.6rem;
  width: 16vw;
  padding: 0 1rem;
  border-radius: 0.3rem;
  border: none;
  outline: none;
}

.fcol-3 button {
  background: #cfbd17;
  height: 2.2rem;
  width: 2.2rem;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  font-weight: 100;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  margin: 2px;
}

.fcol-3 p {
  margin: 1rem 0;
}

.footer-bottom {
  background-color: #251A1E;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
}

.footer-bottom p {
  display: inline;
  font-size: 0.7rem;
}

.footer-bottom button {
  background-color: #251A1E;
  color: #fff;
  position: absolute;
  height: 30px;
  width: 30px;
  right: 10px;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}

@media (max-width: 968px) {
  .footer-top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 2rem 3rem !important;
  }
  .footer-top .fcol-1 {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .footer-top .fcol-2 {
    margin-top: 2.5rem;
    width: 100vw;
  }
  .footer-top .fcol-2 ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-top .fcol-2 ul span {
    display: none;
  }
  .footer-top .fcol-3 {
    margin-top: 2.5rem;
    width: 100vw;
    text-align: center;
  }
  .footer-top .fcol-3 input[type="email"] {
    width: 45vw;
  }
  .footer-top .fcol-3 button {
    margin-left: -2rem;
  }
}
/*# sourceMappingURL=footer.css.map */