@import './config';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

footer {
  clear: both;
  font-family: $font-stack;
  @include setBackground($ftColor);
  display: flex;
  flex-direction: column;
  .footer-top{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 2rem 2rem;
  }

  li{
    display: inline-flex;
    list-style: none;
    font-size: 0.8rem;
    margin-top: 1rem;
    align-items: center;
    span{
      margin-left: 1rem;
      justify-content: left;
      cursor: pointer;
    }
  }
  a{
    text-decoration: none;
    @include setBackground($ftColor);
  }
  h2{
    text-align: center;
    margin-bottom: 0.8rem;
  }
  hr {
    border-color: #6d7c7c;
    border-style: none;
    border-top-style: dotted;
    border-width: 4px;
    width: 3rem;
    margin: 1rem auto 1.5rem;
  }
}

.fcol-1{
  @include flexCenter;
  flex-direction: row;
  width: 30vw;
  margin-top: 2rem;
  img{
    width: 50%;
  }
  div{
    width: 12rem !important;
    text-align: center;
    margin-right: 1.5rem;
  }
}
.fcol-2{
  width: 25vw;
  padding: 0 2rem;
  a{
    display: inline-flex;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 20px;
    font-size: 20px;
    overflow: hidden;
    position: relative;
    color: #fff;
    border: 2px solid #fff;
    transition: all 0.2s linear 0s;
    .icons{
      width: 20px;
      height: 20px;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  li{
    margin-left: 5vw !important;
    display: flex;
    align-items: center;
    justify-content: left;
  }
  a:after {
    content: "";
    display: block;
    // width: 90%;
    height: 90%;
    top: -110%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
  }
  a:hover:after {
    top: 5%;
    transition: all 0.3s linear 0.1s;
  }
  a:hover .icons{
    position: relative;
    color: $ftColor;
    z-index: 3;
  }
  a:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}
.fcol-3{
  width: 25vw;
  padding: 0 2.5rem;;
  input[type=email]{
    @include setBackground(#000);
    height: 2.6rem;
    width: 16vw;
    padding: 0 1rem;
    border-radius: 0.3rem;
    border: none;
    outline: none;
  }
  button{
    background: #cfbd17;
    height: 2.2rem;
    width: 2.2rem;
    transform: scale(1.25);
    font-weight: 100;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    margin: 2px;
  }
  p{
    margin: 1rem 0;
  }
}

.footer-bottom{
  @include setBackground($fbColor);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  p{
    display: inline;
    font-size: 0.7rem;
  }
  button{
    @include setBackground($fbColor);
    position: absolute;
    height: 30px;
    width: 30px;
    right: 10px;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
  }
}

//for mobile

@media (max-width: 968px){
  .footer-top{
    flex-wrap: wrap;
    padding: 2rem 3rem !important;
    .fcol-1{
      width: 100vw;
      @include flexCenter;
      justify-content: space-evenly;
    }
    .fcol-2{
      margin-top: 2.5rem;
      width: 100vw;
      ul{
        @include flexCenter;
        span{
          display: none;
        }
      }
    }
    .fcol-3{
      margin-top: 2.5rem;
      width: 100vw;
      text-align: center;
      input[type="email"]{
        width: 45vw;
      }
      button{
        margin-left: -2rem;
      }
    }
  }
}